* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #a3a3c7;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styles */
.section {
    font-size: 20px;
    padding: 70px 280px;
    margin: 90px 0;
}
.section b{
    font-size: 50px;
    padding:0px -210px ;
    color: rgb(103, 25, 198);
}
.section p{
    font-size: 20px;
}
{
    padding-left: -70px;
    
}
.name{
    padding-right: 950px;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.port{
    padding: right;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-top: -325px;
    padding-left: 250px;

}

p {
    padding-left: 50px;
    color: white;
    font-size: 18px;
}

/* Skills Section */
ul {
    list-style: none;
    padding-left: 550px;
    margin-top: -56px;
}

ul li {
    font-size: 20px;
    margin-bottom: 33px;
}

.image-container {
  margin-top: 100px;
  padding-left:205px;
  padding: 5px 30px;
  }
.image-container img{

  border-radius: 5%;
  background-color: #f6f1f1;
}
img{
    max-height: auto;
    width: 180px;
}
.nav-buttons a {
    text-decoration: none;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 25px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  .a{
    padding-left: 470px;
    margin-top: -194px;
  }
  .a img{
    border-radius: 5%;
    max-height: auto;
    width: 291px;

  }
  .b{
    padding-left: 776px;
    margin-top: -188px;
  }
  .b img{
    border-radius: 5%;
    max-height: auto;
    width: 180px;
    background-color: white;
  }
  .c{
    padding-left: 960px;
    margin-top: -189px;
  }
  .c img{
    border-radius: 5%;
    max-height: auto;
    width: 173px;
    background-color: white;

  }
.title h1{
    text-align: center;
    margin-top: 25px;
    color: white;
}
  
  